body {
	margin: 0;
}

.bbs {
	padding: 8px;
}

.invert {
	filter: invert(100%);
	background: white;
}

.statusbar {
	display: block;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: silver;
	text-align: center;
}

.hidden {
	display: none;
}

.key::after {
	content: ":"
}

.key {
	margin: 0 0.2em;
	font-weight: bold;
}

.message {
	margin: 0 0.2em;
}

.selected {
	background-color: white;
}

.option {
	display: inline-block;
	padding: 0.2em;
}

.frame {
	visibility: hidden;
}

.blackout {
	height: 100vh;
}
