@charset "UTF-8";

body {
	font-family: "細明體", monospace;
	font-size: 24px;
	line-height: 1;
	background-color: black;
}

.line {
	margin: 0 auto;
	width: 40em;
	min-height: 1em;
}

.line span {
	display: inline-block;
	vertical-align: middle;
}

.half {
	margin-left: -0.5em;
	overflow: hidden;
}

.half::before {
	margin-left: -0.5em;
	content: "";
}

.f0 {
	color:#000;
}

.f1 {
	color:maroon;
}

.f2 {
	color:green;
}

.f3 {
	color:olive;
}

.f4 {
	color:navy;
}

.f5 {
	color:purple;
}

.f6 {
	color:teal;
}

.f7 {
	color:silver;
}

.f0.l1 {
	color:gray;
}

.f1.l1 {
	color:red;
}

.f2.l1 {
	color:#0F0;
}

.f3.l1 {
	color:#FF0;
}

.f4.l1 {
	color:#00F;
}

.f5.l1 {
	color:#F0F;
}

.f6.l1 {
	color:#0FF;
}

.f7.l1 {
	color:#FFF;
}

.b0 {
	background-color:#000;
}

.b1 {
	background-color:maroon;
}

.b2 {
	background-color:green;
}

.b3 {
	background-color:olive;
}

.b4 {
	background-color:navy;
}

.b5 {
	background-color:purple;
}

.b6 {
	background-color:teal;
}

.b7 {
	background-color:silver;
}

a:link,
a:visited,
a:active {
	color: inherit;
}

.flink .flash {
	color: transparent;
}

.invert {
	filter: invert(100%);
	background: white;
}
